@model Pharmacy.Web.VWModels.Account.LoginVWModel
@{
    ViewData["Title"] = "Login";
    if (this.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (this.User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";
    }
}

<div class="login-container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Login</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group position-relative">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" id="password" type="password" class="form-control" />
                            <button type="button" class="btn btn-outline-secondary btn-sm position-absolute  end-0 " id="togglePassword">
                                <img id="eyeIcon" src="~/css/eye-svgrepo-com.svg" alt="Show Password" width="25" height="25" />
                                <img id="eyeSlashIcon" src="~/css/eye-off-svgrepo-com.svg" alt="Hide Password" width="25" height="25" style="display: none;" />
                            </button>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <input asp-for="RememberMe" class="form-check-input" />
                            <label asp-for="RememberMe" class="form-check-label"></label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
            <div id="login-reg-switch" class="text-center mt-3">
                <p>Don't have an account? <a class="btn btn-secondary btn-block" asp-controller="Account" asp-action="Register">Register here</a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    document.getElementById('togglePassword').addEventListener('click', function() {
        var passwordInput = document.getElementById('password');
        var eyeIcon = document.getElementById('eyeIcon');
        var eyeSlashIcon = document.getElementById('eyeSlashIcon');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.style.display = 'none';
            eyeSlashIcon.style.display = 'inline';
        } else {
            passwordInput.type = 'password';
            eyeSlashIcon.style.display = 'none';
            eyeIcon.style.display = 'inline';
        }
    });
</script>
}

<style>
    .position-relative {
        position: relative;
    }

    .position-absolute {
        position: absolute;
    }



    .end-0 {
        right: 0;
    }


    .btn-outline-secondary.btn-sm {
        border: none;
        background: transparent;
        padding: 0;
    }

        .btn-outline-secondary.btn-sm img {
            display: block;
        }

    #togglePassword {
        transform: translateY(-125%) translateX(-25%);;
    }
</style>
