@model Pharmacy.Web.VWModels.Account.ProfileVWModel
@{
    ViewData["title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div>
    <label>Email:</label>
    <span>@Model.Email</span>
</div>
