@model Pharmacy.Web.VWModels.Account.RegisterVWModel
@{
    ViewData["title"] = "Register";
    if(this.User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";
    }
}

<div class="reg-container  mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Register</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group position-relative">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" id="password" class="form-control" />
                            <button type="button" class="btn btn-outline-secondary btn-sm position-absolute  end-0 " id="togglePassword">
                                <img id="eyeIcon" src="~/css/eye-svgrepo-com.svg" alt="Show Password" width="25" height="25" />
                                <img id="eyeSlashIcon" src="~/css/eye-off-svgrepo-com.svg" alt="Hide Password" width="25" height="25" style="display: none;" />
                            </button>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group position-relative">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" type="password" id="cpassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <br />
                        <div  class="text-center">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>

                        </div>
                    </form>
                </div>
            </div>
            <div id="login-reg-switch" class="text-center mt-3">
                <p>Already have an account? <a class="btn btn-secondary btn-block" asp-controller="Account" asp-action="Login">Login here</a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    document.getElementById('togglePassword').addEventListener('click', function() {
        var passwordInput = document.getElementById('password');
        var eyeIcon = document.getElementById('eyeIcon');
        var eyeSlashIcon = document.getElementById('eyeSlashIcon');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            document.getElementById('cpassword').type = 'text';
            eyeIcon.style.display = 'none';
            eyeSlashIcon.style.display = 'inline';
        } else {
            passwordInput.type = 'password';
            document.getElementById('cpassword').type = 'password';
            eyeSlashIcon.style.display = 'none';
            eyeIcon.style.display = 'inline';
        }
    });
</script>
}

<style>
    .position-relative {
        position: relative;
    }

    .position-absolute {
        position: absolute;
    }



    .end-0 {
        right: 0;
    }


    .btn-outline-secondary.btn-sm {
        border: none;
        background: transparent;
        padding: 0;
    }

        .btn-outline-secondary.btn-sm img {
            display: block;
        }

    #togglePassword {
        transform: translateY(-125%) translateX(-25%);
    }
</style>
